@model LoginViewModel
@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f3f4f6;
            font-family: Arial, sans-serif;
        }
        .login-container {
            width: 300px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
        }
        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #4f46e5;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #4338ca;
        }

        .message-box {
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #28a745;
            color: white;
            padding: 15px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 10px auto;
            width: fit-content;
            transition: opacity 0.5s;
            opacity: 1;
        }
    </style>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div id="message-box" class="message-box">@ViewBag.Message</div>
        <script>
            window.onload = function () {
                var messageBox = document.getElementById('message-box');
                if (messageBox) {
                    setTimeout(function () {
                        messageBox.style.display = 'none';

                        fetch('/RemoveMessageController/ClearMessage', { method: 'POST' });
                    }, 5000);
                }
            };
        </script>
    }
    <div class="login-container">
        <h2>Login</h2>
        <form asp-action="Login" method="post">
            <input asp-for="UserName" placeholder="Username" required>
            <input asp-for="Password" placeholder="Password" required type="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>

